<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IA Experimental</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <el-row class="menu__outer">
            <el-menu
                :default-active="activeMenu"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleMenu"
                background-color="rgba(0,0,0,0)"
                text-color="#8FC0A9"
                active-text-color="#68B0AB">
                <el-menu-item index="1" class="menu-text">Home</el-menu-item>
                <el-menu-item index="2" class="menu-text">Pesquisa</el-menu-item>
            </el-menu>
        </el-row>

        <div v-if="activeMenu === '1'">
            Apresentação
        </div>
        <div v-else>
            <el-row class="input-bar__outer" type="flex">
                <el-col class="input-bar__inner">
                    <el-input
                        placeholder="Pesquise um tema" 
                        v-model="inputData" 
                        class="input-bar" 
                        size="medium">
                    </el-input>
                </el-col>
                <i class="material-icons search-btn">search</i>
            </el-row>
        </div>
    </div>

</body>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    
    <script src="script/app.js"></script>
</html>


