<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IA Experimental</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- loading -->
    <link rel="stylesheet" href="https://unpkg.com/vue-spinners@1.0.0/dist/vue-spinners.css">
    <script src="https://unpkg.com/vue-spinners@1.0.0/dist/vue-spinners.browser.js"></script>

    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="src/css/app.css">
</head>

<body>
    <div id="app">
        <el-row class="menu__outer">
            <el-menu
                :default-active="activeMenu"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleMenu"
                background-color="#FAF3DD"
                text-color="#8FC0A9"
                active-text-color="#68B0AB">
                <el-menu-item index="1" class="menu-text">{{ dictData[language].menu1 }}</el-menu-item>
                <el-menu-item index="2" class="menu-text">{{ dictData[language].menu2 }}</el-menu-item>
            </el-menu>
        </el-row>
        <el-row class="language-menu__outer">
            <div v-if="language == 'pt'" >
                <img src="./src/assets/images/pt_flag.png" class="language-menu-img" id="active" @click="changeLanguage('pt')">
                <img src="./src/assets/images/en_flag.png" class="language-menu-img" @click="changeLanguage('en')">
            </div>
            <div v-else >
                <img src="./src/assets/images/pt_flag.png" class="language-menu-img" @click="changeLanguage('pt')">
                <img src="./src/assets/images/en_flag.png" class="language-menu-img" id="active" @click="changeLanguage('en')">
            </div>
        </el-row>

        <!-- home -->
        <div v-if="activeMenu === '1'">
            <div class="introduction-text__outer">
                <el-row class="introduction-text" v-for="text in introductionCorpus[language]">{{ text }}</el-row>
            </div>
        </div>

        <!-- pesquisa -->
        <div v-else>
            <el-row class="input-bar__outer" type="flex">
                <el-col class="input-bar__inner">
                    <el-input
                        :placeholder="dictData[language].inputPlaceholder" 
                        v-model="inputData" 
                        class="input-bar" 
                        size="medium">
                    </el-input>
                </el-col>
            </el-row>
            <div class="container-fluid" id="button__outer">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <el-button round @click="getRandomTopic()">
                            <i class="material-icons btn-icon">device_unknown</i> {{ dictData[language].buttonRandom }}
                        </el-button>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <el-button round @click="filterByText()">
                            <i class="material-icons btn-icon">search</i> {{ dictData[language].buttonSearch }}
                        </el-button>
                    </div>
                </div>
            </div>

            <div class="container-fluid" id="card__outer">
                <bounce class="loading__inner" :loading="loading"></bounce>
                <div class="row">
                    <div v-for="topic in topicsData" class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                        <el-card shadow="hover" >
                            <div @click="navigateTo(topic.path)">
                                <h3>{{ topic.title }}</h3>
                                <el-row type="flex">
                                    <el-badge v-for="tag in topic.tags" :value="tag" class="item"></el-badge>
                                </el-row>
                            </div>
                        </el-card>
                    </div>	   
                </div>
            </div>
        </div>
    </div>

</body>

    <!-- import vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import element ui -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import app -->
    <script src="src/js/app.js"></script>
    
</html>

