<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IA Experimental</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="src/css/app.css">
</head>

<body>
    <div id="search">
        <el-row class="menu__outer">
            <el-menu
                :default-active="activeMenu"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleMenu"
                background-color="#FFFFFF"
                text-color="#4E598C"
                active-text-color="#FF8C42">
                <el-menu-item index="1" class="menu-text" @click="navigateTo('index.html')">Home</el-menu-item>
                <el-menu-item index="2" class="menu-text" @click="navigateTo('search.html')">Pesquise</el-menu-item>
            </el-menu>
        </el-row>

        <!-- pesquisa -->
        <div>
            <el-row class="input-bar__outer" type="flex">
                <el-col class="input-bar__inner">
                    <el-input
                        placeholder="Pesquise um tópico" 
                        v-model="inputData" 
                        class="input-bar" 
                        size="medium">
                    </el-input>
                </el-col>
            </el-row>
            <div class="container-fluid" id="button__outer">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <el-button round @click="getRandomTopic()">
                            <i class="material-icons btn-icon">device_unknown</i> Tópico aleatório
                        </el-button>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <el-button round @click="filterByText()">
                            <i class="material-icons btn-icon">search</i> Buscar
                            <div style="position: absolute; top: 28px" v-loading="loading"></div>
                        </el-button>
                    </div>
                </div>
            </div>
            <div v-if="Object.keys(filteredTopicsData).length === 0 && !loading">
                <div class="row" style="text-align: center; margin: 80px; opacity: 0.8; cursor: default">
                    <h3 style="font-size: 35px">Oops!<i class="material-icons" style="font-size: 35px; vertical-align: middle">mood_bad</i></h3>
                    <h3>Nenhum tópico encontrado</h3>
                </div>
            </div>
            <div class="container-fluid" id="card__outer">
                <div class="row" v-if="loading">
                    <div v-for="i in [1, 2, 3, 4, 5, 6, 7, 8]" class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                        <el-card shadow="never" id="loading">
                            <div>
                                <h3 style="background-color: #4E598C; color: #4E598C; opacity: 0.5; width: 60%; border-radius: 5px">.</h3>
                                <el-row type="flex">
                                    <h3 v-for="i in [1, 2, 3]" style="margin: 0; margin-right: 10px; margin-bottom: 5px; line-height: 16px; background-color: #4E598C; color: #4E598C; opacity: 0.5; width: 15%; border-radius: 10px">.</h3>
                                </el-row>
                            </div>
                        </el-card>
                    </div>	   
                </div>
                <div class="row" v-else>
                    <div v-for="topic in filteredTopicsData" class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                        <el-tooltip :content="topic.title" :visible-arrow="false" placement="top-start">
                            <el-card shadow="hover">
                                <div @click="navigateTo(topic.path)">
                                    <h3 style="font-size: 20px">{{ topic.title }}</h3>
                                    <el-row type="flex">
                                        <el-badge v-for="tag in topic.tags" :value="tag" class="item" @click="filterByTag(tag)"></el-badge>
                                    </el-row>
                                </div>
                            </el-card>
                        </el-tooltip>
                    </div>	   
                </div>
                
            </div>
        </div>
    </div>

</body>

    <!-- import vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import element ui -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import app -->
    <script src="src/js/search.js"></script>
    
</html>

