<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Visão Computacional e Arte</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="./../src/css/app.css">
    <link rel="stylesheet" href="./../src/css/topic.css">
    <link rel="stylesheet" href="./../src/css/clock.css">

</head>

<body>
    <div id="topic">
        <div style="text-align: center; margin-top: 20px; margin-bottom: 50px">
            <el-button round @click="navigateTo('../search.html')"><i class="material-icons">reply</i> Voltar</el-button>
        </div>
        <div class="title__outer">
            <h2 class="title-text">Visão Computacional e Arte</h2>
        </div>
        <div class="tags__outer">
            <div class="row" style="margin: 0; padding: 0;">
                <h4 class="tag col-sm-5">Visão Computacional</h4>
                <h4 class="tag col-sm-5">Artes</h4>
                <h4 class="tag col-sm-5">Workshop</h4>
                <h4 class="tag col-sm-5">Zine</h4>
            </div>
        </div>
        
        <div class="topic-time__outer">
            <el-row class="topic-time">
                <p><i class="material-icons" id="clock">schedule</i> Tempo de leitura: <strong>9 minutos</strong></p>
            </el-row>
        </div>
        <div class="topic-text__outer">
            <el-row class="topic-text">
                Nos últimos anos, sistemas comerciais baseados em inteligência artificial surgiram e vêm ganhando espaço no cotidiano de grandes cidades, porém quase imperceptivelmente para os usuários finais. Estamos em contato com esses sistemas quando usamos serviços de tradução, recomendação de produtos, detecção de objetos e pessoas e muitos outros serviços. 
            </el-row>
            <el-row class="topic-text">
                Esses sistemas são treinados com grandes volumes de dados e, inevitavelmente, apresentam algum tipo de viés ideológico. Com isso, a partir da análise de figuras de obras de arte contemporâneas utilizando a Art Decoder (desenvolvida por Gabriel Pereira and Bernardo Fontes, membros do GAIA e que opera desde 2018 revelando comportamentos de IAs comerciais, tais como Amazon Rekognition, Google Cloud Vision, Microsoft Azure, ClarifAI, Densecap, Facebook Detectron, IBM Watson and Darknet YOLO APIs), percebemos a possibilidade de olhar para estes sistemas de uma perspectiva crítica explorando o comportamento dessas IAs ao se depararem com obras de arte contemporânea.
            </el-row>
            <el-row class="topic-text">
                Essa pesquisa resultou em dois workshops no início de 2020, ambos intitulados “A Crack Within the Museum”. O primeiro no evento <a href="http://ctrlz.ai/" target="_blank">CtrlZ.AI</a>, em Barcelona; em que selecionamos um conjunto de mais de 300 obras da coleção digital do museu do MACBA (Museu de Arte Contemporânea de Barcelona), e no evento, os participantes selecionaram coletivamente um conjunto de obras e seus respectivos resultados obtidos pelas IAs visando  destacar alguns dos vieses ideológicos presentes em alguns desses sistemas comerciais de visão computacional.
            </el-row>
            <el-row class="topic-text">
                <el-card style="height: 910px" >
                    <div slot="header" class="clearfix">
                        <span>Zine: MACBA (Barcelona)</span>
                    </div>
                    <el-carousel indicator-position="none" :interval="20000" height="800px">
                        <el-carousel-item v-for="page in 
                            [
                                '../src/assets/pdf/zine_macba_img/zine_macba-01.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-03.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-06.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-07.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-08.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-09.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-10.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-11.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-12.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-13.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-14.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-15.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-16.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-17.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-18.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-19.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-20.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-21.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-22.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-23.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-24.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-25.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-26.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-27.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-28.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-29.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-30.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-31.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-32.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-33.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-34.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-35.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-36.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-37.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-38.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-39.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-40.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-41.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-42.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-43.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-44.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-45.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-46.jpg',
                                '../src/assets/pdf/zine_macba_img/zine_macba-47.jpg',
                            ]" 
                            :key="page">
                            <img :src=page height="100%">
                        </el-carousel-item>
                    </el-carousel>
                </el-card>
            </el-row>
            <el-row class="topic-text">
                Como temos observado em nossa pesquisa, segue um capitalista, consumista e às vezes lógica misógina. Além disso, destacamos outros momentos em que nossa plataforma é incapaz de entender obras de arte que resultam em interpretações de grande valor poético.
            </el-row>
            <el-row class="topic-text">
                O segundo workshop ocorreu durante o evento <a href="http://www.iea.usp.br/en/eventos/afetando-tecnologias-maquinando-inteligencias" target="_blank">Afetando Tecnologias, Maquinando Inteligências</a>, que ocorreu na Universidade de São Paulo, com parceria do IEA (Instituto de Estudos Avançados), nesse evento utilizamos a coleção digital do MAC-USP (Museu de Arte Contemporânea da USP), e assim como no primeiro evento, os participantes selecionaram coletivamente um conjunto de resultados buscando destacar momentos críticos sobre a interpretação das IAs perante as imagens de obras de arte contemporânea.
            </el-row>
            <el-row class="topic-text">
                <el-card style="height: 910px">
                    <div slot="header" class="clearfix">
                        <span>Zine: MAC (USP)</span>
                    </div>
                    <el-carousel indicator-position="none" :interval="20000" height="800px">
                        <el-carousel-item v-for="page in 
                            [
                                '../src/assets/pdf/zine_mac_img/zine_mac-01.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-03.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-06.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-07.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-08.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-09.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-10.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-11.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-12.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-13.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-14.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-15.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-16.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-17.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-18.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-19.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-20.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-21.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-22.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-23.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-24.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-25.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-26.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-27.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-28.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-29.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-30.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-31.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-32.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-33.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-34.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-35.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-36.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-37.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-38.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-39.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-40.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-41.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-42.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-43.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-44.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-45.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-46.jpg',
                                '../src/assets/pdf/zine_mac_img/zine_mac-47.jpg'
                            ]" 
                            :key="page">
                            <img :src=page height="100%">
                        </el-carousel-item>
                    </el-carousel>
                </el-card>
            </el-row>
        </div>
        <div class="topic-sugestions__outer">
            <div class="title__outer">
                <h3>Sugestões de leitura</h3>
            </div>
            <el-row class="topic-sugestions__items">
                <el-col :sm="24" :md="24">
                    <a href="http://www.iea.usp.br/en/eventos/afetando-tecnologias-maquinando-inteligencias" target="_blank">
                        <el-card shadow="hover">
                            <h3 style="font-size: 18px; margin-top: 5px">Afetando Tecnologias, Maquinando Inteligências</h3>
                            <el-row type="flex">
                                <el-badge value="IEA-USP" class="item"></el-badge>
                                <el-badge value="GAIA" class="item"></el-badge>
                                <el-badge value="C4AI" class="item"></el-badge>
                            </el-row>
                        </el-card>
                    </a>
                </el-col>
                <el-col :sm="24" :md="24">
                    <a href="https://lucasns97.github.io/topics/0006_this_person_does_not_exist" target="_blank">
                        <el-card shadow="hover">
                            <h3 style="font-size: 18px; margin-top: 5px">Quais rostos a IA pode gerar?</h3>
                            <el-row type="flex">
                                <el-badge value="Lucas N. Sequeira" class="item"></el-badge>
                                <el-badge value="Bruno S. Moreschi" class="item"></el-badge>
                                <el-badge value="Amanda Jurno" class="item"></el-badge>
                                <el-badge value="Vinícius A. A. dos Santos" class="item"></el-badge>
                            </el-row>
                        </el-card>
                    </a>
                </el-col>
                <el-col :sm="24" :md="24">
                    <a href="https://books.google.com.br/books?hl=pt-BR&lr=&id=-ThDDwAAQBAJ&oi=fnd&pg=PP9&dq=NOBLE,+S.+U.+Algorithms+of+oppression:+how+search+engines+reinforce+racism.+New+York:+New+York+University+Press,+2018.+&ots=gBvnZpN_O1&sig=nkf0XJjl4Y32z7BZ6k8WlCc8_0o#v=onepage&q=NOBLE%2C%20S.%20U.%20Algorithms%20of%20oppression%3A%20how%20search%20engines%20reinforce%20racism.%20New%20York%3A%20New%20York%20University%20Press%2C%202018.&f=false" target="_blank">
                        <el-card shadow="hover">
                            <h3 style="font-size: 18px; margin-top: 5px">Algorithms of Opression: How Search Engines Reinforce Racism</h3>
                            <el-row type="flex">
                                <el-badge value="Safiya U. Noble" class="item"></el-badge>
                            </el-row>
                        </el-card>
                    </a>
                </el-col>
                <el-col :sm="24" :md="24">
                    <a href="https://www.e-flux.com/journal/10/61362/in-defense-of-the-poor-image/" target="_blank">
                        <el-card shadow="hover">
                            <h3 style="font-size: 18px; margin-top: 5px">In Defense of the Poor Image</h3>
                            <el-row type="flex">
                                <el-badge value="Hito Steyerl" class="item"></el-badge>
                            </el-row>
                        </el-card>
                    </a>
                </el-col>
                <el-col :sm="24" :md="24">
                    <a href="https://www.ceros.com/inspire/originals/recaptcha-waymo-future-of-self-driving-cars/" target="_blank">
                        <el-card shadow="hover">
                            <h3 style="font-size: 18px; margin-top: 5px">Recaptcha: Waymo Future of Self-Driving Cars</h3>
                            <el-row type="flex">
                                <el-badge value="Ceros" class="item"></el-badge>
                            </el-row>
                        </el-card>
                    </a>
                </el-col>
                <el-col :sm="24" :md="24">
                    <a href="https://comunicacaoeidentidades.files.wordpress.com/2014/07/pg-18-a-51-maquinas-de-ver-modos-de-ser.pdf" target="_blank">
                        <el-card shadow="hover">
                            <h3 style="font-size: 18px; margin-top: 5px">Máquinas de Ver, Modos de Ser: Vigilância, Tecnologia e Subjetividade</h3>
                            <el-row type="flex">
                                <el-badge value="Fernanda Bruno" class="item"></el-badge>
                            </el-row>
                        </el-card>
                    </a>
                </el-col>
                <el-col :sm="24" :md="24">
                    <a href="https://www.google.com.br/books/edition/Ways_of_Seeing/ilu4K-Xp0v4C?hl=pt-BR" target="_blank">
                        <el-card shadow="hover">
                            <h3 style="font-size: 18px; margin-top: 5px">Ways of Seeing</h3>
                            <el-row type="flex">
                                <el-badge value="John Berger" class="item"></el-badge>
                            </el-row>
                        </el-card>
                    </a>
                </el-col>
                <el-col :sm="24" :md="24">
                    <a href="https://philpapers.org/rec/PERAIA-7" target="_blank">
                        <el-card shadow="hover">
                            <h3 style="font-size: 18px; margin-top: 5px">Artificial Intelligence and Institutional Critique 2.0: Unexpected Ways of Seeing with Computer Vision</h3>
                            <el-row type="flex">
                                <el-badge value="Gabriel Pereira" class="item"></el-badge>
                                <el-badge value="Bruno S. Moreschi" class="item"></el-badge>
                            </el-row>
                        </el-card>
                    </a>
                </el-col>
            </el-row>
        </div>
    </div>
    
</body>
    <!-- import vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import element ui -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import app -->
    <script src="./../src/js/topic.js"></script>

    <style>
        .el-carousel {
            width: 563px;
        }
        .el-carousel__item h3 {
          color: #475669;
          font-size: 14px;
          opacity: 0.75;
          line-height: 200px;
          margin: 0;
        }
      
        .el-carousel__item:nth-child(2n) {
          background-color: #99a9bf;
        }
      
        .el-carousel__item:nth-child(2n+1) {
          background-color: #d3dce6;
        }
    </style>
  
    
</html>


