
/* 
Paleta de cores

#FAF3DD
#C8D5B9
#8FC0A9
#68B0AB
#696D7D

#4E598C
#FFFFFF
#F9C784
#FCAF58
#FF8C42


*/

:root {
    --white: #FFFFFF;
    --light-orange: #F9C784;
    --orange: #FCAF58;
    --strong-orange: #FF8C42;
    --blue: #4E598C;

    --white_half: rgba(255, 255, 255, 0.5);
    --light-orange_half: rgba(249, 198, 132, 0.5);
    --orange_half: rgba(252, 175, 88, 0.5);
    --strong-orange_half: rgba(255, 138, 66, 0.5);
    --blue_half: rgba(78, 89, 140, 0.5);

    --white_third: rgba(255, 255, 255, 0.333);
    --light-orange_third: rgba(249, 198, 132, 0.333);
    --orange_third: rgba(252, 175, 88, 0.333);
    --strong-orange_third: rgba(255, 138, 66, 0.333);
    --blue_third: rgba(78, 89, 140, 0.333);
}

body {
    font-family: "Courier New", "Courier", monospace;
    background-color: var(--white);
    color: var(--blue);
}

a {
    color: var(--strong-orange)
}

a:hover {
    color: var(--orange)
}

iframe {
    border-width: 0;
    width: 100%;
    height: 100%;
}

.menu__outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-menu__outer {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.language-menu-img#active {
    opacity: 1;
}

.language-menu-img {
    cursor: pointer;
    min-width: 23px;
    max-width: 25px;
    opacity: 0.3;
    transition: all 0.2s ease;
}

.language-menu-img:hover {
    opacity: 0.7;
    transform: rotate(180deg);
}



.input-bar__outer {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-bar__inner {
    max-width: 90%;
    width: 600px;
    vertical-align: middle;
}

.el-input__inner, .input-bar {
    background: transparent;
    font-size: 20px;
    border-radius: 20px;
    line-height: 50px !important;
    height: 50px !important;
    border-color: var(--light-orange_third);
    
}

.el-input__inner:hover, .input-bar:hover {
    box-shadow: 0px 0px 4px 1px var(--orange_half);
    border-color: var(--light-orange_third);
}

.el-input__inner:focus, .input-bar:focus {
    border-color: var(--light-orange_third);
    box-shadow: 0px 0px 2px 1px var(--orange_half);
}

.menu-text {
    font-size: 24px;
}

.el-menu-item:hover {
    background-color: var(--light-orange_third) !important;
}

.introduction-text__outer {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduction-text {
    text-align: justify;
	text-justify: inter-word;
    margin: 20px;
    max-width: 1000px;
    font-size: 20px;
}

/* BUTTON AREA */

.btn-icon {
    vertical-align: middle;
}

.el-button {
    font-size: 19px;
    margin-top: 5px;
    background-color: var(--light-orange_half);
    outline: none;
    border: none;
    width: 285px;
}

.el-button:hover {
    color: var(--strong-orange);
    background-color: var(--light-orange_third);
}

.el-button:focus {
    color: var(--strong-orange);
    background-color: var(--light-orange_third);
}


.container-fluid#button__outer {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD AREA */

.container-fluid#card__outer {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.el-card{
    margin: 15px;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    background-color: var(--strong-orange_half);
    opacity: 0.9;
    transition: opacity .5s linear;
}

.el-card#loading {
    margin: 15px;
    margin-left: 25px;
    margin-right: 25px;
    cursor: default;
    background-color: var(--strong-orange_third);
    opacity: 0.5;
    transition: opacity .5s linear;
}

.el-badge__content {
    background-color: var(--blue);
    color: var(--white);
    opacity: 0.8;
    transition: all 0.2s ease;
    border: none;
    margin-bottom: 2px;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 15px;
    z-index: 100;
}

.gender {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none !important;
}

.el-badge__content:hover {
    opacity: 1;
}

.el-dialog {
    width: 80%;
    height: fit-content;
}

.loading__inner {
    opacity: 0.7;
    position: absolute;
    transform: translateY(-300px);
    z-index: 1000;
}

.material-icons{
    vertical-align: middle;
}