:root {
  --white: #FFFFFF;
  --light-orange: #F9C784;
  --orange: #FCAF58;
  --strong-orange: #FF8C42;
  --blue: #4E598C;

  --white_half: rgba(255, 255, 255, 0.5);
  --light-orange_half: rgba(249, 198, 132, 0.5);
  --orange_half: rgba(252, 175, 88, 0.5);
  --strong-orange_half: rgba(255, 138, 66, 0.5);
  --blue_half: rgba(78, 89, 140, 0.5);

  --white_third: rgba(255, 255, 255, 0.333);
  --light-orange_third: rgba(249, 198, 132, 0.333);
  --orange_third: rgba(252, 175, 88, 0.333);
  --strong-orange_third: rgba(255, 138, 66, 0.333);
  --blue_third: rgba(78, 89, 140, 0.333);
}

.title__outer {
  text-align: center;
}

.title-text {
  transition: all 0.5s ease;
  border-bottom: 1px solid var(--strong-orange_third);
  cursor: default;
}

.topic-text__outer {
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topic-text {
  text-align: justify;
	text-justify: inter-word;
  margin: 20px;
  max-width: 1000px;
  font-size: 20px;
  transition: all 0.2s ease;
}

.topic-time__outer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topic-time {
  margin-top: 20px;
  max-width: 1000px;
  font-size: 15px;
  cursor: default
}

.tags__outer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h4.tag {
  background-color: var(--strong-orange_third);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: default;
  transition: all 0.2s ease;
  min-width: 200px;
  max-width: 200px;
}

h4.tag:hover {
  box-shadow: 0 0 3px 1px var(--blue_third);
}

#clock {
  animation-name: clock-rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition: all 1s ease;
}

@keyframes clock-rotation {
  0% {transform: rotate(0deg);}
  1% {transform: rotate(3deg);}
  2% {transform: rotate(7deg);}
  3% {transform: rotate(10deg);}
  4% {transform: rotate(14deg);}
  5% {transform: rotate(18deg);}
  6% {transform: rotate(21deg);}
  7% {transform: rotate(25deg);}
  8% {transform: rotate(28deg);}
  9% {transform: rotate(32deg);}
  10% {transform: rotate(36deg);}
  11% {transform: rotate(39deg);}
  12% {transform: rotate(43deg);}
  13% {transform: rotate(46deg);}
  14% {transform: rotate(50deg);}
  15% {transform: rotate(54deg);}
  16% {transform: rotate(57deg);}
  17% {transform: rotate(61deg);}
  18% {transform: rotate(64deg);}
  19% {transform: rotate(68deg);}
  20% {transform: rotate(72deg);}
  21% {transform: rotate(75deg);}
  22% {transform: rotate(79deg);}
  23% {transform: rotate(82deg);}
  24% {transform: rotate(86deg);}
  25% {transform: rotate(90deg);}
  26% {transform: rotate(93deg);}
  27% {transform: rotate(97deg);}
  28% {transform: rotate(100deg);}
  28% {transform: rotate(104deg);}
  30% {transform: rotate(108deg);}
  31% {transform: rotate(111deg);}
  32% {transform: rotate(115deg);}
  33% {transform: rotate(118deg);}
  34% {transform: rotate(122deg);}
  35% {transform: rotate(125deg);}
  36% {transform: rotate(129deg);}
  37% {transform: rotate(133deg);}
  38% {transform: rotate(136deg);}
  39% {transform: rotate(140deg);}
  40% {transform: rotate(144deg);}
  41% {transform: rotate(147deg);}
  42% {transform: rotate(151deg);}
  43% {transform: rotate(154deg);}
  44% {transform: rotate(158deg);}
  45% {transform: rotate(162deg);}
  46% {transform: rotate(165deg);}
  47% {transform: rotate(169deg);}
  48% {transform: rotate(172deg);}
  49% {transform: rotate(176deg);}
  50% {transform: rotate(180deg);}
  51% {transform: rotate(183deg);}
  52% {transform: rotate(187deg);}
  53% {transform: rotate(190deg);}
  54% {transform: rotate(194deg);}
  55% {transform: rotate(198deg);}
  56% {transform: rotate(201deg);}
  56% {transform: rotate(205deg);}
  57% {transform: rotate(208deg);}
  59% {transform: rotate(212deg);}
  60% {transform: rotate(216deg);}
  61% {transform: rotate(219deg);}
  62% {transform: rotate(223deg);}
  63% {transform: rotate(226deg);}
  64% {transform: rotate(230deg);}
  65% {transform: rotate(234deg);}
  66% {transform: rotate(237deg);}
  67% {transform: rotate(241deg);}
  68% {transform: rotate(244deg);}
  69% {transform: rotate(248deg);}
  70% {transform: rotate(251deg);}
  71% {transform: rotate(255deg);}
  72% {transform: rotate(259deg);}
  73% {transform: rotate(262deg);}
  74% {transform: rotate(266deg);}
  75% {transform: rotate(270deg);}
  76% {transform: rotate(273deg);}
  77% {transform: rotate(277deg);}
  78% {transform: rotate(280deg);}
  79% {transform: rotate(284deg);}
  80% {transform: rotate(288deg);}
  81% {transform: rotate(291deg);}
  82% {transform: rotate(295deg);}
  83% {transform: rotate(298deg);}
  84% {transform: rotate(302deg);}
  85% {transform: rotate(306deg);}
  86% {transform: rotate(309deg);}
  87% {transform: rotate(313deg);}
  88% {transform: rotate(316deg);}
  89% {transform: rotate(320deg);}
  90% {transform: rotate(324deg);}
  91% {transform: rotate(327deg);}
  92% {transform: rotate(331deg);}
  93% {transform: rotate(334deg);}
  94% {transform: rotate(338deg);}
  95% {transform: rotate(342deg);}
  96% {transform: rotate(345deg);}
  97% {transform: rotate(349deg);}
  98% {transform: rotate(352deg);}
  99% {transform: rotate(356deg);}
  100% {transform: rotate(360deg);}
}